* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

body {
    --primaryColor: rgba(20, 20, 45, 0.95);
    --secondaryColor: rgba(80, 80, 132, 0.3);
    --errorColor: rgb(217, 26, 9);
    --fontColor: rgb(252, 186, 3);
    --borderRadius: 5px;
    --width: 300px;
    --button-spacing: 9px;
    --button-height: 60px;
    background-color: var(--primaryColor);
}

@media all and (min-width: 480px) {
    body {
        --width: 400px;
        --button-spacing: 7px;
        --button-height: 45px;
    }
}

header {
    width: 50vw;
    margin: 20px auto;
    text-align: center;
    color: var(--fontColor);
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 5px;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

button:active {
    background: var(--fontColor);
    color: var(--primaryColor);
}

@media all and (min-width: 1180px) {
    button:hover {
        background: var(--fontColor);
        color: var(--primaryColor);
        transition: 0.3s ease;
    }
}

input:focus {
    outline: none;
}

input, button {
    display: block;
    height: var(--button-height);
    border: none;
    padding: 6px;
    background-color: var(--secondaryColor);
    color: var(--fontColor);
}

form, input, button {
    width: var(--width);
    margin: var(--button-spacing) auto;
    border-radius: var(--borderRadius);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#player-name-input {
    margin: 0;
    border-radius: 0px;
}

#player-name-submit {
    width: 10%;
    margin: 0;
    border-radius: 0px;
}

#start-form {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

#minutes {
    margin: 0;
    margin-bottom: var(--button-spacing);
    text-align: center;
}

#start {
    margin: 0;
    margin-bottom: var(--button-spacing);
}

#single-timer {
    width: var(--width);
    margin: var(--button-spacing) auto;
    margin-top: 150px;
    border-radius: var(--borderRadius);
    padding: 1%;
    height: 200px;
    text-align: center;
    color: var(--primaryColor);
}

@media all and (min-width: 480px) {
    #single-timer {
        margin-top: 20px;
    }
}

@media all and (min-width: 480px) and (min-height: 768px) {
    #single-timer {
        margin-top: 200px;
    }
}

#details-clocklist {
    margin-top: 30px;
    font-size: 3.5rem;
}

.hidden {
    display: none;
    margin: 0;
}

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock-list {
    min-width: var(--width);
    list-style: none;
}

.clock {
    height: var(--button-height);
    margin-bottom: var(--button-spacing);
    border-radius: var(--borderRadius);
    padding: 8px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondaryColor);
    color: var(--fontColor);
    overflow: hidden;
}

.clock button {
    width: auto;
    flex: 1;
    text-align: left;
    border-radius: var(--borderRadius) 0 0 var(--borderRadius);
}

button li {
    font-size: 1.2rem;
}

.vertical-ribbon {
    width: 7px;
    height: 200%;
}

.clock-paused {
    padding-right: 9px;
}

.clock-active {
    padding-right: 7px;
}

.clock-lapsed {
    padding-right: 5px;
}

.time {
    padding: 15px;
}

.error-message, .alert{
    color: var(--errorColor);
}

#pause {
    margin-top: 0;
}

#continue {
    margin-top: 0;
}
