body {
    --primaryColor: rgba(20, 20, 45, 0.95);
    --secondaryColor: rgba(80, 80, 132, 0.3);
    --interactiveColor: rgb(50, 100, 255);
    --errorColor: rgb(217, 26, 9);
    --fontColor: rgb(255, 255, 255);
    --borderRadius: 5px;
}

@media (prefers-color-scheme: light) {
    body {
        --primaryColor: rgba(200, 200, 230, 0.7);
        --secondaryColor: rgb(255, 255, 255);
        --fontColor: rgb(108, 108, 108);
    }
}

@media all and (min-width: 1080px) {
    body {
        --borderRadius: 10px;
    }
}

body.light-mode {
    --primaryColor: rgba(200, 200, 230, 0.7);
    --secondaryColor: rgb(255, 255, 255);
    --fontColor: rgb(108, 108, 108);
}

body.dark-mode {
    --primaryColor: rgba(20, 20, 45, 0.95);
    --secondaryColor: rgba(80, 80, 132, 0.3);
    --fontColor: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--fontColor);
    font-family: Verdana, sans-serif;
}

body {
    background: var(--primaryColor);
}

h1 {
    margin-bottom: 15px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    color: var(--interactiveColor);
    text-decoration: none;
}

table {
    width: 100%;
    background: var(--primaryColor);
    margin: 0 auto;
    margin-top: 15px;
    border-radius: var(--borderRadius);
    padding: 2%;
    position: absolute;
    bottom: 0;
}

th {
    font-size: 0.8em;
    font-weight: lighter;
    text-align: left;
}

td {
    font-size: 1.1em;
    font-weight: bolder;
}

input {
    background: transparent;
    height: 100%;
    width: calc(97% - 120px);
    float: left;
    border: none;
    border-radius: var(--borderRadius);
    padding: 2%;
}

input:focus {
    outline: 2px solid var(--fontColor);
}

button {
    background: var(--interactiveColor);
    color: white;
    font-weight: bolder;
    border-radius: var(--borderRadius);
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:active {
    background: var(--primaryColor);
}

@media all and (min-width: 1180px) {
    form button:hover {
        background: var(--primaryColor);
    }
}

.devfinder {
    height: 400px;
    width: 330px;
    margin: 120px auto;
    border-radius: var(--borderRadius);
    padding: 1%;
}

@media all and (min-width: 568px) {
    .devfinder {
        height: 350px;
        width: 500px;
        margin: 20px auto;
    }
}

@media all and (min-width: 768px) {
    .devfinder {
        height: 380px;
        width: 700px;
        margin: 0 auto;
    }
}

@media all and (min-width: 1180px) {
    .devfinder {
        height: 400px;
        width: 700px;
        margin-top: 80px;
    }
}

.top-container {
    height: 8%;
    width: 100%;
    border-radius: var(--borderRadius);
    padding: 1%;
}

@media all and (min-width: 568px) {
    .top-container {
        height: 11%;
    }
}

#heading {
    float: left;
}

#color-toggle-icon {
    float: right;
    font-size: 15px;
    margin-top: 5px;
}

@media all and (min-width: 568px) {
    #color-toggle-icon {
        margin-top: 6px;
    }
}

#color-scheme-toggle {
    background: transparent;
    color: var(--fontColor);
    float: right;
    height: 100%;
    width: 57px;
    border: none;
}

.search-input-container {
    background: var(--secondaryColor);
    height: 10%;
    width: 100%;
    margin: 15px 0;
    border-radius: var(--borderRadius);
    padding: 1%;
}

@media all and (min-width: 568px) {
    .search-input-container {
        height: 13%;
    }
}

#search-icon {
    float: left;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 10px;
    color: var(--interactiveColor);
}

.input-shrunk {
    width: calc(77% - 120px);
}

.feedback-expanded {
    height: 100%;
    width: 18%;
    margin-left: 2%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.feedback-shrunk {
    display: none;
}

#search-submit {
    float: right;
    height: 100%;
    width: 80px;
    border: none;
}

#search-result {
    visibility: hidden;
    background: var(--secondaryColor);
    height: 55%;
    width: 100%;
    margin: 15px 0;
    border-radius: var(--borderRadius);
    padding: 3%;
}

@media all and (min-width: 568px) {
    #search-result {
        height: 65%;
    }
}

#search-feedback-content {
    color: var(--errorColor);
}

.stats-pos-anchor {
    height: 100%;
    position: relative;
}

#profile-pic {
    float: left;
    width: 100px;
    margin-right: 3%;
    margin-bottom: 3%;
    border-radius: var(--borderRadius);
}

#name {
    margin-bottom: 8px;
}
