* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(252, 186, 3);
    font-family: Verdana, sans-serif;
}

button {
    background-color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

button.turned {
    transform: rotate(90deg);
}

.nav-container {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.main-nav ul {
    height: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.main-nav ul.visible {
    height: auto;
}

@media all and (min-width: 1080px) {
    .main-nav ul {
        height: auto;
    }
}

.main-nav ul li {
    list-style-type: none;
    padding: 2px 5px;
}

@media all and (max-width: 1079px) {
    .main-nav ul li {
        width: 100%;
    }
}

@media all and (min-width: 1080px) {
    .main-nav ul li {
        float: left;
    }
}

.main-nav ul li a {
    display: block;
    margin: 5px 0;
    padding: 5px;
    text-decoration: none;
    letter-spacing: 2px;
}

.nav-toggle {
    position: absolute;
    right: 10px;
    top: 10px;
}

@media all and (min-width: 1080px) {
    .nav-toggle {
        display: none;
    }
}

i {
    font-size: 25px;
}

.banner {
    min-height: 100vh;
    background: url("img/crt.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.info {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/crt.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.txt-enclosure {
    width: 50%;
}
