* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    border-radius: 0px;
    outline: none;
}

body {
    --primaryColor: rgb(0, 0, 0);
    --secondaryColor: rgb(255, 255, 255);
    --errorColor: rgb(217, 26, 9);
    --tabBorderStyle: solid;
    --tabBorderWidth: 1px;
    --tabBorderColor: var(--secondaryColor);
}

body.light-mode {
    --primaryColor: rgb(255, 255, 255);
    --secondaryColor: rgb(0, 0, 0);
}

body {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
}

button {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);

    pointer-events: auto;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:active {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
}

main {
    z-index: -99;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding-top : 85px;
    padding-bottom : 30px;
    display: flex;
}

@media all and (max-height: 390px) {
    main {
        height: 390px;
    }
}

@media all and (min-height: 480px) {
    p {
        width: 80%;
    }
}

a {
    color: var(--secondaryColor);
}

.error {
    color: var(--errorColor) !important;
}

.hidden {
    display: none !important;
    margin: 0 !important;
}

@media all and (max-width: 767px) {
    .omittable {
        display: none !important;
        margin: 0 !important;
    }
}

.pwd-nav .tab-headers {
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.pwd-nav .tab-header {
    width: 20%;
    height: 45px;
    margin: 20px 2%;
    display: grid;
}

.pwd-nav .tab-header:first-child {
    margin-left: 0;
}

.pwd-nav .tab-header:last-child {
    margin-right: 0;
}

.pwd-nav .tab-header-decorations {
    /* for absolute corner decoration positioning */
    position: relative;

    /* stack all decorations fieldsets on top of each other so their legends form a rectangle when rotated */
    grid-area: 1 / 1;
    /* only want legend */
    border: hidden;

    /* override property default that messes with overflow */
    min-width: 0;

    display: flex;
    justify-content: center;
}

.pwd-nav .tab-header-decorations.bottom,
.pwd-nav .tab-header-decorations.right {
    transform: rotate(180deg);
}

.pwd-nav .tab-header-decorations.top legend::before,
.pwd-nav .tab-header-decorations.bottom legend::before {
    /* feed horizontal legends so they can respond to different screen-widths */
    content: "- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -";
}

.pwd-nav .tab-header-decorations.left legend::before,
.pwd-nav .tab-header-decorations.right legend::before {
    /* static */
    content: "- -";
}

.pwd-nav .tab-header-decorations legend {
    line-height: 0.2;

    white-space: nowrap;
    text-overflow: "";
    overflow: hidden;

    /* override property defaults that mess with overflow */
    min-width: 0;
    max-width: 100%;
}

@media all and (min-width: 768px) {
    .pwd-nav .tab-header-decorations legend {
        line-height: 0.3;
    }
}

.pwd-nav .tab-header-decorations.top legend,
.pwd-nav .tab-header-decorations.bottom legend {
    padding: 0 10px;
}

.pwd-nav .tab-header-decorations.left legend,
.pwd-nav .tab-header-decorations.right legend {
    padding: 12px 0;
    writing-mode: vertical-lr;
}

.pwd-nav .tab-header-decorations .icon {
    font-size: 90%;
    position: absolute;
}

.pwd-nav .tab-header-decorations .icon.top {
    top: -11px;
}

.pwd-nav .tab-header-decorations .icon.bottom {
    bottom: -6px;
}

.pwd-nav .tab-header-decorations .icon.right {
    right: -3px;
}

.pwd-nav .tab-header-decorations .icon.left {
    left: -4px;
}

.pwd-nav .tab-header-decorations,
.pwd-nav .tab-header-decorations legend,
.pwd-nav .tab-header-decorations .icon {
    pointer-events: none;
}

.pwd-nav button.tab-opener {
    width: 100%;
    padding: 5px;
    margin-bottom: 2px;
    border: none;
    text-align: center;
}

#lock-art-wrapper {
    width: 100px;
    height: 122px;
    margin: auto;
}

pre {
    font-family: monospace;
}

.tab-bordered {
    border-style: var(--tabBorderStyle);
    border-width: var(--tabBorderWidth);
    border-color: var(--tabBorderColor);
}

#tab {
    width: 90%;
    height: 90%;
    margin: auto;
    padding: 5px;
    position: relative;
}

@media all and (min-height: 480px) {
    #tab {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#tab > * {
    padding: 3px;
}

#tab-legend {
    padding: 0 5px;
}

#tab-exit {
    position: absolute;
    top: -20px;
    right: 10px;

    padding: 1px 2px;
    background-color: var(--primaryColor);

    cursor: pointer;
    transition: all 0.3s ease;
}

#tab-exit:active {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
}

#pwd-gen-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pwd-gen-wrapper > div {
    width: 200px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 768px) {
    #pwd-gen-wrapper > div {
        margin-bottom: 20px;
        flex-direction: row;
        justify-content: space-between;
        width: 420px;
    }

    #pwd-gen-wrapper > div:first-child {
        margin-top: 20px;
    }
}

@media all and (min-height: 480px) {
    #pwd-gen-wrapper > div {
        margin-bottom: 35px;
    }
}

#pwd-gen-wrapper label,
#pwd-gen-wrapper input,
#pwd-gen-wrapper button {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    height: 20px;
    font-size: 90%;
}

#pwd-gen-wrapper label,
#pwd-gen-wrapper input {
    padding: 3px;
}

@media all and (min-width: 768px) {
    #pwd-gen-wrapper input,
    #pwd-gen {
        width: 220px;
    }
}

#pwd-gen-wrapper input {
    font-size: 80%;
}

#state-wrapper {
    height: 20px;
}

#decrease-state,
#increase-state,
#cp-output,
#peek {
    width: 20px;
    float: left;
}

#peek {
    padding-top: 4px;
}

#state,
#output {
    width: calc(100% - 40px);
    float: left;
    text-align: center;
    border-left: 0;
    border-right: 0;
}

@media all and (min-width: 768px) {
    #state,
    #output {
        width: calc(220px - 40px) !important;
    }
}

footer {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0px;
    padding-top: 5px;
    text-align: center;
    font-size: 80%;
}

@media all and (max-height: 390px) {
    footer {
        display: none !important;
        margin: 0 !important;
    }
}

footer a {
    margin: 0 15px;
    text-decoration: none;
}

#lumination-toggle {
    cursor: pointer;
}
