* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-family: Verdana, sans-serif;
}

body {
    --borderRadius: 10px;
    background: rgba(0, 0, 255, 0.2);
}

h1 {
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 0.9em;
    margin-top: 8px;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.4);
}

.box-enclosure {
    height: 450px;
    width: 300px;
    margin: 100px auto;
    border-radius: var(--borderRadius);
    text-align: center;
}

@media all and (min-width: 568px) {
    .box-enclosure {
        height: 330px;
        width: 200px;
        margin: 10px auto;
    }
}

@media all and (min-height: 768px) {
    .box-enclosure {
        margin: 120px auto;
    }
}

@media all and (min-width: 1180px) {
    .box-enclosure {
        height: 470px;
        width: 300px;
        margin: 80px auto;
    }
}

.inner {
    width: 100%;
    height: 100%;
    padding: 4%;
    overflow-y: auto;
}

.outer {
    overflow: hidden;
}

.box-pic {
    height: 276px;
    width: 276px;
    padding: 53px;
    border-radius: var(--borderRadius);
}

@media all and (min-width: 568px) {
    .box-pic {
        height: 184px;
        width: 184px;
        padding: 27px;
        border-radius: var(--borderRadius);
    }
}

@media all and (min-width: 1180px) {
    .box-pic {
        height: 276px;
        width: 276px;
        padding: 38px;
        border-radius: var(--borderRadius);
    }
}

img {
    width: 170px;
    border-radius: var(--borderRadius);
}

@media all and (min-width: 568px) {
    img {
        width: 130px;
    }
}

@media all and (min-width: 1180px) {
    img {
        width: 200px;
    }
}

.txt-enclosure {
    margin-top: 15px;
}

@media all and (min-height: 768px) {
    .txt-enclosure {
        margin-top: 10px;
    }
}

.bg-blue {
    background: rgba(0, 0, 164, 0.7);
}

.bg-white {
    background: rgba(255, 255, 255, 1.0);
}
