* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

body {
    color: rgba(0, 0, 0, 0.85);
    background-image: linear-gradient(120deg, #e2c35d, #d88771);
    min-height: 100vh;
}

header, form {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form input {
    width: 50vw;
}

input:focus {
    outline: none;
}

form button {
    color: #d88771;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:active {
    background: #d88771;
    color: white;
}

@media all and (min-width: 1180px) {
    form button:hover {
        background: #d88771;
        color: white;
    }
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-list {
    min-width: 30%;
    list-style: none;
}

.todo-item {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.todo-item li {
    flex: 1;
    padding: 0 0.5rem;
}

.trash-btn, .complete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.complete-btn {
    background: rgb(73, 204, 73);
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateX(-60vw);
    opacity: 0;
}
